<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name ="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    /> -->
<style>
.w3-card {
  width: 10px; /* Adjust the width as desired */
  text-align: center; /* Center the content horizontally */
}

.w3-button {
  background-color: transparent;
  border: none;
  text-align: center;
}

  .w3-bar-item {
    margin-bottom: 10px;
  }
</style>
    <title>{% block title %}DBSoria{% endblock %}</title>
</head>
<body>

  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display: block; width: 250px; margin: 0px auto;" id="mySidebar"">
    <div style="position: relative;">
      <button class="w3-button w3-large" onclick="w3_close()" style="position: absolute; top: 0; right: 0;"><img class="home" src="static/x.svg" alt="close"/></button>
    </div>
    <div class="logo" >
      <img class="store-icon" src="static/logo.svg" alt="Store icon" />
    </div>
    
    <a href="/" class="w3-bar-item w3-button" style="font-size: 18px;">
      <img class="home" src="static/home.svg" alt="activity" style="margin-right: 10px; margin-left: 15px; color:#5e1419"/>Home</a>
    <a href="/product" class="w3-bar-item w3-button" style="font-size: 18px;">
      <img class="product" src="static/shopping-cart.svg" alt="activity" style="margin-right: 10px; margin-left: 15px; color:#5e1419"/>Product</a>
      <a href="/category" class="w3-bar-item w3-button" style="font-size: 18px;"> 
      <img class="category" src="static/server.svg" alt="category" style="margin-right: 10px; margin-left: 15px; color:#5e1419"/> Category </a>
    <a href="/supplier" class="w3-bar-item w3-button" style="font-size: 18px;"> 
    <img class="supplier" src="static/users.svg" alt="supplier" style="margin-right: 10px; margin-left: 15px; color:#5e1419"/> Supplier </a>
    
    <p style="margin-right: 10px; margin-left: 15px;position: absolute; bottom: 20px; left: 10px; font-size: 18px; color: #888;">&copy; 2023 <span class="dbsoryatext"> DBSORIA</span>. <br> All rights reserved.</p>

  </div>
      <div id="main">
      
      <div class="shadow-sm mb-5 navbar navbar-light" style="background-color: #C02420;">
        <button id="openNav" class="w3-button w3-xlarge" style="color: #FFFF;"onclick="w3_open()">&#9776;</button>
        <div class="w3-container">
          
        </div>
      </div>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

    <script>
        function w3_open() {
          document.getElementById("main").style.marginLeft = "0";
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("mySidebar").style.display = "block";
          document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
          document.getElementById("main").style.marginLeft = "0%";
          document.getElementById("mySidebar").style.display = "none";
          document.getElementById("openNav").style.display = "inline-block";
        }
        </script>

</body>
</html>
