{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div style="width: 100%;">
    <div class = "left">
        <div class = "logo">
            <img src="static/dbsorialogo.png" width="300px" height="300px">
        </div>
        <div class = "header">
            <h1>DBSoria</h1>
            <h2>Keep track of your items!</h2>
        </div>
    </div>
    <div class ="right">
        <div class = "text">
            <p class="body">Welcome to DBSORIA, where keeping track of your items has never been easier!</p>  
            <p class="body">Our innovative application is designed to streamline your inventory management process, ensuring you have complete control over your store's stock. </p>
            <p class="body">DBSORIA is here to revolutionize the way you manage your items in-store, so join us on this journey and take your inventory management to the next level!</p>
        </div>
        <button class = ""></button>
    </div>
</div>
{% endblock %} 

<!-- <!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1>DBSoria</h1>
<h2>Keep track of your items!</h2>

<a href="/inventory">Inventory</a>
<a href="/">Suppliers</a>



</body>
</html> -->