{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

  body {
  font-family: "Work Sans", sans-serif;
    color: #5E1914;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppin", sans-serif;
}

/* Colors */
h1 {
  font-family: "Poppins", sans-serif;
  color: #C02420;
}

h2, h3, h4, h5 {
  color: #5E1914;
}

.dbsoryatext {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #C02420;
  font-size: 18px;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #C02420;
  font-size: 80px;
}

.slogan {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #5E1914;
  font-size: 29px;
}


button.start {
  background-color: #C02420;
  color: #FFFFFF;
  border-radius: 18.37px;
  border: none; /* Remove the border/stroke */
  padding: 10px 20px;/* Set the height to 90 pixels */
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.container {
    display: flex;
    justify-content: center;
  }

  .left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* Add padding of 20 pixels on the left and right sides */
}

.right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 60px; /* Add padding of 20 pixels on the left and right sides */
}


  .left .header,
  .right .text {
    text-align: center;
  }

  /* Add any other CSS styles you need for the columns and their contents */
</style>

<div class="container">
    <div class="left">
        <div class="logo">
            <img src="static/dbsorialogo.png" width="300px" height="300px">
        </div>
        <div class="header"> 
            <h1 class="logo">DBSORIA</h1>
            <h2 class="slogan">Keep track of your items!</h2>
        </div>
    </div>
    <img class="line" src="static/line.svg" alt="Line 1" />
    <div class="right">
        <div class="text">
            <p class="body">Welcome to <span class="dbsoryatext"> DBSORIA</span>, where keeping track of your items has never been easier!</p>  
            <p class="body">Our innovative application is designed to streamline your inventory management process, ensuring you have complete control over your store's stock. </p>
            <p class="body"><span class="dbsoryatext"> DBSORIA</span> is here to revolutionize the way you manage your items in-store, so join us on this journey and take your inventory management to the next level!</p>
        </div>
        <button class="start">Start Tracking Now!</button>
    </div>
</div>

{% endblock %}
